.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main {
  flex: 1;
  padding: 1rem;
  overflow-y: auto;
  background-color: #FFFDD0; /* Cream background */
  color: #343A40; /* Dark Gray text */
}

@media (max-width: 768px) {
  .main {
    padding: 0.5rem;
  }
}